@page "/"
@using honeyshop.web.Shared;
@using honeyshop.web.Model.DTO;

<div class="w-full">
    <img class="w-auto h-[115px] ml-auto mr-auto" src="images/slider.png" />
    <TitledSection>
        @foreach (var item in RecommendedProducts)
        {
            <ProductCard Model="@item" />
        }
    </TitledSection>
</div>



@code {
    private IList<ProductModel> RecommendedProducts = new List<ProductModel>();

    protected override void OnInitialized()
    {
        RecommendedProducts = new List<ProductModel>()
        {
                new ProductModel()
                {
                    ProductId = 1,
                    Price = "24,50zł",
                    Title = "Miód wielokwiatowy - 45g",
                    ImageUrl = "images/placeholderItem.png"
                },
                                new ProductModel()
                {
                    ProductId = 1,
                    Price = "24,50zł",
                    Title = "Miód wielokwiatowy - 450g",
                    ImageUrl = "images/placeholderItem.png"
                },
                                                new ProductModel()
                {
                    ProductId = 1,
                    Price = "24,50zł",
                    Title = "Miód wielokwiatowy - 450g",
                    ImageUrl = "images/placeholderItem.png"
                }
        };
        base.OnInitialized();
    }
}