@page "/"
<div class="w-full">
    <img class="w-full h-auto" src="images/slider.png"/>
    <div class="mt-[10px] mb-[10px]">
        <p class="text-main text-sm mb-[10px]">Polecane</p>
        <div class="flex flex-row">
    <ProductCard/>
    <div class="w-[10px]"></div>
        <ProductCard/>
        </div>

    </div>
</div>



@code {
    private void logsmth()
    {
        Console.WriteLine(":))0");
    }
}